* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 2rem 1.125rem 3rem;
    background: url(./images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

.header {
    text-align: center;
}

.title h1,
.rating h4 {
    color: hsl(300, 43%, 22%);
}

.title p {
    color: hsl(303, 10%, 53%);
}

.ratings {
    display: flex;
    flex-direction: column;
}

.rating {
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    padding: 1rem;
}

.rating h4 {
    font-size: 12.5px;
    margin: 0.5rem 0 0 0;
}

.rating + .rating,
.review + .review {
    margin-top: 1rem;
}

.reviews {
    margin-top: 3rem;
}

.review {
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 2rem;
}

.reviewer {
    display: flex;
    align-items: center;
}

.reviewer img {
    border-radius: 50%;
    width: 50px;
    height: auto;
    margin-right: 1rem;
}

.name-title h3 {
    color: hsl(0, 0%, 100%);
    margin-bottom: 0;
}

.name-title p {
    color: hsl(333, 80%, 67%);
    margin-top: 3px;
}

.review-info p {
    color: hsl(300, 24%, 96%);
    margin-bottom: 0;
    line-height: 1.6;
    word-spacing: 1px;
}

@media screen and (min-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .header,
    .reviews {
        display: flex;
        max-width: 1100px;
        margin: 0 auto;
    }
    .title {
        width: 40%;
        text-align: left;
        margin-right: 7.5%;
    }
    .ratings {
        width: 52.5%;
    }
    .rating {
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        min-width: 350px;
    }
    .rating h4 {
        margin: 0;
    }
    .rating-1 {
        align-self: flex-start;
    }
    .rating-2 {
        align-self: center;
    }
    .rating-3 {
        align-self: flex-end;
    }
    .reviews {
        height: 300px;
    }
    .review {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .review + .review {
        margin-top: 0;
        margin-left: 1.5rem;
    }
    .review-2 {
        align-self: center;
    }
    .review-3 {
        align-self: flex-end;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin: 0;
}
  
.attribution a {
    color: hsl(228, 45%, 44%);
}